{% extends "base.html" %}
{% block content %}
<script src="js/fabric.min.js"></script>

<canvas id="c" width="800" height="400" class="lower-canvas" style="width: 800px; height: 400px;"></canvas>
<br>

Styl pozadí:
<select id="bg-format" onchange=render()>
  <option value="triangle">trojuhelnik</option>
  <option value="threetriangles">tri trojuhelniky</option>
  <option value="circle">kruh</option>
  <option value="threeV">tri vertikaly</option>
  <option value="threeH">tri horizontaly</option>
  <option value="cross">uhlopricny kriz</option>
  <option value="squares">kriz vodorovny</option>
  <option value="fourH">ctyri horizontaly</option>
  <option value="fourV">ctyri vertikaly</option>
</select>
<br>

Barva 1:
<select id="bg-color-0" onchange=render()>
  <option value="black">černá</option>
  <option value="white">bílá</option>
  <option value="grey">šedá</option>
  <option value="red">červená</option>
  <option value="blue">modrá</option>
  <option value="green">zelená</option>
  <option value="yellow">žlutá</option>
  <option value="orange">oranžová</option>
  <option value="pink">růžová</option>
  <option value="purple">fialová</option>
  <option value="brown">hnědá</option>
</select>
<br>

Barva 2:
<select id="bg-color-1" onchange=render()>
  <option value="black">černá</option>
  <option value="white">bílá</option>
  <option value="grey">šedá</option>
  <option value="red">červená</option>
  <option value="blue">modrá</option>
  <option value="green">zelená</option>
  <option value="yellow">žlutá</option>
  <option value="orange">oranžová</option>
  <option value="pink">růžová</option>
  <option value="purple">fialová</option>
  <option value="brown">hnědá</option>
</select>
<br>

Barva 3:
<select id="bg-color-2" onchange=render()>
  <option value="black">černá</option>
  <option value="white">bílá</option>
  <option value="grey">šedá</option>
  <option value="red">červená</option>
  <option value="blue">modrá</option>
  <option value="green">zelená</option>
  <option value="yellow">žlutá</option>
  <option value="orange">oranžová</option>
  <option value="pink">růžová</option>
  <option value="purple">fialová</option>
  <option value="brown">hnědá</option>
</select>
<br>

Barva 4:
<select id="bg-color-3" onchange=render()>
  <option value="black">černá</option>
  <option value="white">bílá</option>
  <option value="grey">šedá</option>
  <option value="red">červená</option>
  <option value="blue">modrá</option>
  <option value="green">zelená</option>
  <option value="yellow">žlutá</option>
  <option value="orange">oranžová</option>
  <option value="pink">růžová</option>
  <option value="purple">fialová</option>
  <option value="brown">hnědá</option>
</select>
<br>

<form method="post" id="flagform">
  Jmeno vlajkove skupiny: <input type="text" name="name" required><br>
  Popis skupiny: <input type="text" name="description" required><br>
  Vase jmeno: <input type="text" name="username" required><br>
  Vase heslo: <input type="password" name="password" required><br>
  Vas email: <input type="email" name="email" required><br>
  <button onclick="addForm()" type="button">ULOZIT</button>
</form>

<script src="js/add.js"></script>

{% end %}