<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Banner Creator</title>
  <meta name="description" content="Banner Creator">
  <meta name="author" content="Andreas Gajdosik">

  <script src="js/fabric.min.js"></script>
</head>

<body style="background-color:grey;">

    <canvas id="c" width="800" height="400" class="lower-canvas" style="width: 800px; height: 400px;background-color:white;"></canvas>

    <select onchange=setBG(this.value)>
        <option value="cross">uhlopricny kriz</option>
        <option value="squares">kriz vodorovny</option>
        <option value="fourH">ctyri horizontaly</option>
        <option value="fourV">ctyri vertikaly</option>
    </select>

    <select onchange=setBGColor(0,this.value)>
        <option value="red">cervena</option>
        <option value="black">cerna</option>
        <option value="green">zelena</option>
        <option value="yellow">zluta</option>
    </select>

    <select onchange=setBGColor(1,this.value)>
        <option value="red">cervena</option>
        <option value="black">cerna</option>
        <option value="green">zelena</option>
        <option value="yellow">zluta</option>
    </select>

    <select onchange=setBGColor(2,this.value)>
        <option value="red">cervena</option>
        <option value="black">cerna</option>
        <option value="green">zelena</option>
        <option value="yellow">zluta</option>
    </select>

    <select onchange=setBGColor(3,this.value)>
        <option value="red">cervena</option>
        <option value="black">cerna</option>
        <option value="green">zelena</option>
        <option value="yellow">zluta</option>
    </select>

    <br>

    <form method="post" id="flagform">
        Jmeno vlajkove skupiny: <input type="text" name="name"><br>
        Popis skupiny: <input type="text" name="description"><br>
        Vase jmeno: <input type="text" name="username"><br>
        Vase heslo: <input type="password" name="password"><br>
        Vas email: <input type="text" name="email"><br>
        <button onclick=postForm()>ULOZIT</button>
    </form>

    

  <script src="js/script.js"></script>
</body>
</html>