{% extends "base.html" %}
{% block content %}
    
  Nazev: {{ flag["name"] }}  <br>
  Popis: {{ flag["description"] }} <br>
  Admin: {{ flag["owner"] }} <br>
  <img src='{{ flag["image"] }}'><br>

  Clenove vlajky:
  <ul>
    {% for user in users %}
      <li>
        {{ user }}
      </li>
    {% end %}
  </ul>

  Pripojit se k teto vlajce:<br>
  <form method="post" id="subscribe">
      Jmeno: <input type="text" name="username"><br>
      Heslo: <input type="password" name="password"><br>
      Email: <input type="text" name="email"><br>
      <button type="submit">Pridat se!</button>
  </form>

{% end %}