<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Seznam vlajek</title>
  <meta name="description" content="List of Flags">
  <meta name="author" content="Andreas Gajdosik">

  <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body style="background-color:grey;">

  <ul>
    {% for flag in flags %}
        <li>{{ flag["id"] }}, {{ flag["name"] }}, {{ flag["description"] }} , {{ flag["owner"] }}, {{ flag["image"] }}</li>
    {% end %}
  </ul>

</body>
</html>